{% extends "base.html" %}    
{% load static %}

{% block content %}

		<section id="about">
			<section class="wrapper">
				{% for about in abouts %}
					<div class="container">
						<div class="left">
							<div class="icon">
								<img src="{{about.image.url}}" alt="Image" />
							</div>
							<h3>
								{{about.title}}
							</h3>
						</div>

						<div class="right">
							<p>
								{{about.description}}
							</p>
						</div>
					</div>
				{% endfor %}
			</section>
		</section>

		<section id="gallery">
			<section class="wrapper">
				<div class="top">
					<ul>
					{% for category in categories %}
						<li><a href="{% url 'web:category' %}?category={{category.name}}">{{category.name}}</a></li>
					{% endfor %}
						<li><a href="{% url 'web:category' %}?category=All">All</a></li>
					</ul>
				</div>
				<div class="bottom">
					{% for gallery in galleries %}
						<div class="frame">
							<a href="{% url 'web:product' pk=gallery.pk %}">
								<img src="{{gallery.thumbnail.url}}" alt="Image" />
							</a>
						</div>
					{% endfor %}
				</div>
			</section>
		</section>
{% endblock %}
		